@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Signika:wght@300..700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Baumans', serif;
}

h1 {
    font-size: 68px;
font-family: 'Baumans', serif;
color: #E03A3E;
text-shadow: -4px, -10px, 8px, #000000;
}

h2 {
    font-family: 'Baumans', serif;
    color: #000000;
    text-align: center;
}

h3 {
    font-family: 'Baumans', serif;
    color: #F2A900;
}

p {
    font-family: 'Signika', serif;
    color: #000000;
}

#container {
    display: grid;
    grid-template-areas: 
    'header header'
    'sidebar main'
    'footer footer';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #000000;
    color:#E03A3E;
    text-align: center;
}

header nav li {
    list-style-type: none;
    display: inline-block;
}

header nav li a {
    color: #F2A900;
    text-decoration: none;
}

#banner {
    width: 1200px;
    height: 800px;
    box-shadow: 20px 10px 40px 10px #F2A900;
    border-radius: 5px 5px 5px 5px;
}

button {
    border-radius: 25px 25px 25px 25px;
    background-color:#F2A900;
    color: #000000;
}

aside {
    grid-area: sidebar;
    background-color: #000000;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}


